@use '@/styles/variables';

.button {
  border-radius: 20px;
  padding: 2px 20px;
  color: variables.$white-color;
  background: variables.$blue;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
}