@use "@/styles/mixins";
@use "@/styles/variables";

.tgIconContainer {
  @include mixins.size(32px);
  border-radius: 50%;
  @include mixins.flex($align: center, $justify: center);
  background: variables.$blue;

  & > svg {top: 50%;
    transform: translate(-1px);
  }
}