@use '@/styles/variables';
@use '@/styles/mixins';

.companyDescriptionContainer {
  width: 100%;
  padding-inline: 40px;
  @include mixins.flex($direction: column, $gap: 10px);

  .title {
    text-align: left;
    color: variables.$dark-grey;

    span {
      color: variables.$black;
    }
  }

  & > p {
    text-align: left;
  }

  .list {
    //margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0;

    .listItem {
      padding-left: 10px;
      @include mixins.flex($align: center, $gap: 10px);

      .listMarker {
        @include mixins.size(5px);
        border-radius: 50%;
        background: variables.$black;
      }
    }
  }
}