@use '@/styles/variables';
@use '@/styles/mixins';

.heroSliderContainer {
  width: 100%;
  height: 420px;
  padding-top: 20px;

  .slide {
    @include mixins.size(100%);
    border-radius: 40px;
    padding: 20px 20px;
    @include mixins.flex($gap: 80px);
    background: variables.$dark-bg;

    .textContainer {
      padding: 60px 20px;
      @include mixins.flex($direction: column, $gap: 30px);

      & > h1 {
        color: variables.$blue;
        font-size: 42px;
        font-weight: 700;
        line-height: 120%;
        text-align: left;
        white-space: pre-line;
      }

      & > p {
        color: variables.$white-bg;
        font-size: 24px;
        font-weight: 700;
        line-height: 120%;
        text-align: left;
        white-space: pre-line;
      }

      .catalogButton {
        width: fit-content;
        @include mixins.flex($items: center, $gap: 4px);
      }
    }

    .imagesContainer {
      height: 100%;
      flex: 1;
      display: flex;
      position: relative;

      .notebookImage,
      .cameraImage,
      .iphonesImage,
      .headphonesImage,
      .actionCameraImage {
        --tx: 0px;
        --ty: 0px;
        will-change: transform;
        transition: transform 80ms linear;
      }

      .notebookImage {
        width: 294px;
        position: absolute;
        top: 0;
        left: 0;
        transform: rotate(15deg) translate3d(var(--tx), var(--ty), 0);

        img {
          height: auto;
        }
      }

      .cameraImage {
        width: 250px;
        position: absolute;
        top: 0;
        right: -40px;
        transform: rotate(-30deg) translate3d(var(--tx), var(--ty), 0);

        img {
          height: auto;
        }
      }

      .iphonesImage {
        height: 230px;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translate3d(var(--tx), var(--ty), 0);

        picture, img {
          width: auto;
        }
      }

      .headphonesImage {
        @include mixins.size(200px);
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%) translate3d(var(--tx), var(--ty), 0);

        picture, img {
          width: auto;
        }
      }

      .actionCameraImage {
        @include mixins.size(245px);
        position: absolute;
        bottom: -20px;
        right: -20px;
        transform: rotate(30deg) translate3d(var(--tx), var(--ty), 0);
      }
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .imagesContainer .notebookImage,
  .imagesContainer .cameraImage,
  .imagesContainer .iphonesImage,
  .imagesContainer .headphonesImage,
  .imagesContainer .actionCameraImage {
    transition: none;
  }
}