@use './variables';
@use './reset';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-main: #{variables.$font-main};
  --font-weight-base: #{variables.$font-weight-base};
  --line-height-base: #{variables.$line-height-base};
  --color-text: #{variables.$black};
  --white-color: #{variables.$white-bg};
  --max-width: #{variables.$max-width};
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-main), sans-serif;
  font-weight: var(--font-weight-base);
  line-height: var(--line-height-base);
  color: var(--color-text);
  background-color: var(--white-color);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#__next {
  max-width: var(--max-width);
  margin: 0 auto;
  text-align: center;
}
