@use './variables' as *;

@mixin root-container {
  max-width: $max-width;
  margin: 0 auto;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin flex(
  $inline: false,
  $direction: null,
  $wrap: null,
  $items: null,
  $content: null,
  $self: null,
  $gap: null,
  $grow: null,
  $shrink: null,
  $basis: null,
  $order: null,
) {
  display: if($inline, inline-flex, flex);

  @if $direction != null {
    flex-direction: $direction;
  }

  @if $wrap != null {
    flex-wrap: $wrap;
  }

  @if $items != null {
    align-items: $items;
  }

  @if $content != null {
    justify-content: $content;
  }

  @if $self != null {
    align-self: $self;
  }

  @if $gap != null {
    gap: $gap;
  }

  @if $grow != null {
    flex-grow: $grow;
  }

  @if $shrink != null {
    flex-shrink: $shrink;
  }

  @if $basis != null {
    flex-basis: $basis;
  }

  @if $order != null {
    order: $order;
  }
}