@use './variables' as *;

@mixin root-container {
  max-width: $max-width;
  margin: 0 auto;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin flex($direction: null, $items: null, $content: null, $self: null, $gap: null) {
  display: flex;

  @if $direction != null {
    flex-direction: $direction;
  }

  @if $items != null {
    align-items: $items;
  }

  @if $content != null {
    justify-content: $content;
  }

  @if $self != null {
    align-self: $self;
  }

  @if $gap != null {
    gap: $gap;
  }
}