@use '@/styles/mixins';

.page {
  min-height: 100svh;
  max-width: 1440px;
  margin-top: 80px;
  padding-inline: 40px;
  @include mixins.flex($direction: column, $items: center, $gap: 40px);

  @media (max-width: 705px) {
    margin-top: 110px;
    padding-inline: 10px;
  }

  .main {
    width: 100%;
    @include mixins.flex($direction: column, $gap: 100px);
  }
}
