button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  box-shadow: none;
  appearance: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* old Firefox */
  -ms-user-select: none;     /* IE/Edge */
  user-select: none;         /* standard */
  -webkit-tap-highlight-color: transparent; /* отключаем подсветку на тач-устройствах */
}

/* Оставляем интерактивные поля доступными */
input,
textarea,
select,
button,
a {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}