// SCSS-переменные

// sizes:
$max-width: 1440px;

// fonts:
$font-main: 'Inter', system-ui, sans-serif;
$font-second: 'Montserrat', system-ui, sans-serif;
$font-weight-base: 400;
$line-height-base: 1.5;

// colors:
$color-text: #213547;
$dark-grey: #363636;
$black: #000000;
$black-40: #00000040;
$black-50: #00000050;
$white: #FFFFFF;
$white-50: #FFFFFF50;
$white-bg: #F5F5F5;
$white-modal: #F9FAFA;
$grey-color: #B3B3B1;
$yellow: #ECBD01;
$header-bg: #F5FF5B3;
$blue: #017AF6;
$visa-blue: #1434CB;
$dark-bg: #1C1C1C;
$light-border: #ECECEC;
$dark-border: #2B2B2B;
$green-icon: #30AD51;


// z-indexes:
$header-z: 100;
$modal-z: 1000;