// SCSS-переменные

// sizes:
$max-width: 1440px;

// fonts:
$font-main: 'Inter', system-ui, sans-serif;
$font-weight-base: 400;
$line-height-base: 1.5;

// colors:
$color-text: #213547;
$dark-grey: #363636;
$black: #000000;
$white-color: #F5F5F5;
$header-bg: #F5FF5B3;
$blue: #017AF6;
$dark-bg: #1C1C1C;
$light-border: #ECECFF;

// z-indexes:
$header-z: 100;