@use '@/styles/mixins';
@use '@/styles/variables';

.header {
  width: 100%;
  @include mixins.root-container;
  padding: 20px 40px;
  @include mixins.flex($content: space-between);
  background-color: variables.$header-bg;
  backdrop-filter: blur(16px);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: variables.$header-z;

  .logoContainer {
    @include mixins.flex($items: center, $gap: 20px);

    .title,
    .logo {
      height: 32px;
      width: fit-content;

      img {
        height: 32px;
        width: auto;
      }
    }
  }

  .contactsContainer {
    @include mixins.flex($items: center, $gap: 20px);
    color: white;

    & > p {
      color: variables.$color-text;
      font-weight: bold;
    }
  }
}