@use '@/styles/mixins';
@use '@/styles/variables';

.header {
  width: 100%;
  @include mixins.root-container;
  padding: 20px 40px;
  @include mixins.flex($content: space-between);
  background-color: variables.$header-bg;
  backdrop-filter: blur(16px);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: variables.$header-z;

  @media (max-width: 705px) {
    @include mixins.flex($direction: column, $items: center, $gap: 20px);
    border-radius: 0 0 16px 16px;
    overflow: hidden;
  }

  .logoContainer {
    @include mixins.flex($items: center, $gap: 20px);

    .title,
    .logo {
      height: 32px;
      width: fit-content;

      @media (max-width: 705px) {
        height: 36px;
      }

      img {
        height: 32px;
        width: auto;

        @media (max-width: 705px) {
          height: 36px;
        }
      }
    }
  }

  .contactsContainer {
    @include mixins.flex($items: center, $gap: 20px);

    & > a {
      font-weight: bold;

      @media (max-width: 705px) {
        font-size: 20px;
      }

      .tgIcon {
        @include mixins.size(32px);

        svg {
          @include mixins.size(18px);
          transform: translateX(-1px);
        }
      }
    }
  }
}