@use '@/styles/mixins';
@use '@/styles/variables';

.tgIconContainer {
  @include mixins.size(auto, 32px);
  border-radius: 50%;
  @include mixins.flex($items: center, $content: center);
  background: variables.$blue;

  & > svg {top: 50%;
    transform: translate(-1px);
  }
}