@use '@/styles/variables';
@use '@/styles/mixins';

.marketingCardsWrapper {
  width: 100%;
  @include mixins.flex($direction: column, $gap: 10px);

  .marketingCardsContainer {
    width: 100%;
    @include mixins.flex($gap: 20px);
    flex-wrap: wrap;

    .card {
      height: 160px;
      flex: 0 0 auto;
      padding: 24px 20px;
      border-radius: 24px;
      box-shadow: 0 4px 4px 0 #00000040;
      @include mixins.flex($items: center);
      position: relative;
      overflow: hidden;
      min-width: 0;

      .cardText {
        font-size: 32px;
        font-weight: 700;
        text-align: left;
        line-height: 100%;
        white-space: pre-line;
        position: relative;
        z-index: 1;
      }

      .cardImage {
        width: auto;
        position: absolute;
      }
    }

    .card1 {
      width: calc(60% - 10px);
      padding-right: 200px;
      background: variables.$black;

      .cardText {
        color: variables.$white-bg;
      }

      .cardImage {
        height: 150%;
        top: 50%;
        right: 0;
        transform: translateY(-50%);

        img {
          width: auto;
        }
      }
    }

    .card2 {
      width: calc(40% - 10px);
      border: 1px solid variables.$light-border;

      .cardImage {
        height: 70%;
        right: 0;
      }
    }

    .card3 {
      width: calc(45% - 10px);
      border: 1px solid variables.$light-border;

      .cardImage {
        height: 150%;
        right: -70px;
        bottom: -70px;
        transform: rotate(30deg);
      }
    }

    .card4 {
      width: calc(55% - 10px);
      background: variables.$black;

      .cardText {
        color: variables.$white-bg;
      }

      .cardImage {
        right: 0;
      }
    }

    .card5 {
      width: calc(60% - 10px);
      padding-right: 100px;
      background: variables.$black;

      .cardText {
        color: variables.$white-bg;
      }

      .cardImage {
        height: calc(100% - 10px);
        right: 20px;
      }
    }

    .card6 {
      width: calc(40% - 10px);
      border: 1px solid variables.$light-border;

      .cardImage {
        height: calc(100% - 20px);
        right: 20px;
      }
    }
  }
}