@use '@/styles/variables';
@use '@/styles/mixins';

.marketingCardsWrapper {
  width: 100%;
  @include mixins.flex($direction: column, $gap: 10px);

  .marketingCardsContainer {
    width: 100%;
    @include mixins.flex($wrap: wrap, $gap: 20px);

    @media (max-width: 980px) {
      flex-direction: column;
    }

    .card {
      height: 160px;
      flex: 0 0 auto;
      padding: 24px 20px;
      border-radius: 24px;
      box-shadow: 0 4px 4px 0 #00000040;
      @include mixins.flex($items: center);
      position: relative;
      overflow: hidden;
      min-width: 0;

      @media (max-width: 540px) {
        height: 128px;
      }

      .cardText {
        font-size: 32px;
        font-weight: 700;
        text-align: left;
        line-height: 100%;
        position: relative;
        z-index: 1;

        @media (max-width: 540px) {
          font-size: 24px;
        }
      }

      .cardImage {
        width: auto;
        height: 100%;
        position: absolute;

        picture {
          width: auto;
          height: 100%;

          img {
            width: auto;
            height: 100%;
          }
        }
      }
    }

    .card1 {
      width: calc(60% - 10px);
      padding-right: 350px;
      background: variables.$black;

      @media (max-width: 980px) {
        width: 100%;
      }

      @media (max-width: 600px) {
        padding-inline: 40px;
        justify-content: center;
      }

      .cardText {
        color: variables.$white-bg;
      }

      .cardImage {
        height: 150%;
        top: 50%;
        right: 0;
        transform: translateY(-50%);

        @media (max-width: 600px) {
          height: 100%;
          right: auto;
          left: 50%;
          transform: translate(-50%, -50%);
          filter: brightness(0.4);
        }

        img {
          width: auto;
        }
      }
    }

    .card2 {
      width: calc(40% - 10px);
      border: 1px solid variables.$light-border;
      padding-right: 150px;

      @media (max-width: 600px) {
        padding-inline: 40px 120px;
      }

      @media (max-width: 540px) {
        padding-right: 90px;
      }

      .cardImage {
        height: 70%;
        right: 0;

        @media (max-width: 600px) {
          transform: rotate(-90deg);
          right: -16px;
        }
      }
    }

    .card3 {
      width: calc(45% - 10px);
      border: 1px solid variables.$light-border;
      padding-right: 100px;

      @media (max-width: 600px) {
        padding-inline: 40px;
      }

      .cardImage {
        height: 150%;
        right: -70px;
        bottom: -70px;
        transform: rotate(30deg);

        @media (max-width: 540px) {
          right: -50px;
        }
      }
    }

    .card4 {
      width: calc(55% - 10px);
      background: variables.$black;
      padding-right: 240px;

      @media (max-width: 980px) {
        padding-right: 160px;
      }

      @media (max-width: 600px) {
        padding-inline: 40px 160px;
      }

      @media (max-width: 540px) {
        padding-right: 130px;
      }

      .cardText {
        color: variables.$white-bg;
      }

      .cardImage {
        right: 0;
      }
    }

    .card5 {
      width: calc(60% - 10px);
      padding-right: 160px;
      background: variables.$black;

      @media (max-width: 600px) {
        padding-inline: 40px 160px;
      }

      @media (max-width: 540px) {
        padding-right: 130px;
      }

      .cardText {
        color: variables.$white-bg;
      }

      .cardImage {
        height: calc(100% - 10px);
        right: 20px;
      }
    }

    .card6 {
      width: calc(40% - 10px);
      border: 1px solid variables.$light-border;
      padding-right: 170px;

      @media (max-width: 600px) {
        padding-inline: 40px 150px;
      }

      .cardImage {
        height: calc(100% - 20px);
        right: 20px;
      }
    }

    .card1,
    .card2,
    .card3,
    .card4,
    .card5,
    .card6 {
      @media (max-width: 980px) {
        width: 100%;
      }
    }
  }
}