@use '@/styles/mixins';

.footer {
  width: 100%;
  padding-bottom: 20px;
  @include mixins.root-container;
  @include mixins.flex($content: space-between, $gap: 40px);

  .catalog {
    @include mixins.flex($direction: column);

    & > h4 {
      margin-bottom: 20px;
    }
  }

  .shop {}

  .contacts {}

  .info {}
}