@use '@/styles/variables';
@use '@/styles/mixins';

.footer {
  width: 100%;
  padding: 20px 80px 40px 80px;
  @include mixins.root-container;
  @include mixins.flex($content: space-between, $gap: 40px);

  .catalog {


    & > h4 {
      margin-bottom: 20px;
    }
  }

  .shop,
  .contacts,
  .shopInfo,
  .companyInfo {
    @include mixins.flex($direction: column);

    & > h4 {
      text-align: left;
    }

    & > p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-align: left;
    }
  }

  .contacts {
    .payments {
      height: 20px;
      margin-top: 20px;
      @include mixins.flex($gap: 4px);
      color: variables.$visa-blue;
    }
  }

  .shopInfo {
    gap: 10px;

    & > button:first-of-type {
      margin-top: 10px;
    }
  }

  .companyInfo {
    gap: 20px;

    .title {
      height: 32px;
      display: flex;
    }

    .socialContainer {

      .title {
        font-size: 16px;
        font-weight: 400;
        color: variables.$black-50;
        text-align: left;
      }

      .socials {
        height: 56px;
      }
    }

    .siteInfo {
      @include mixins.flex($direction: column,$gap: 4px);

      .text {
        text-align: left;
      }

      .postText {
        text-align: left;
        white-space: pre;
      }
    }
  }
}

.text,
.link {
  margin-top: 20px;
  white-space: pre-line;
}

.text {
  color: variables.$black;
}

.link {
  color: variables.$blue;
  text-align: left;
}

.postText {
  color: variables.$black-50;
}