@use '@/styles/variables';
@use '@/styles/mixins';

.followUsContainer {
  width: 100%;
  padding: 40px;
  border-radius: 24px;
  @include mixins.flex($content: space-between);
  box-shadow: 0 4px 4px 0 variables.$black-40;

  .followUsTextContainer {
    @include mixins.flex($direction: column, $gap: 32px);
    
    @media (max-width: 960px) {
      width: 100%;
      align-items: center;
    }

    .followUsTitle {
      font-size: 44px;
      font-weight: 700;
      line-height: 1;
      text-align: left;
      white-space: pre-line;

      @media (max-width: 960px) {
        text-align: center;
      }
    }

    .followUsDescription {
      font-size: 20px;
      font-weight: 500;
      text-align: left;
      white-space: pre-line;
    }

    .catalogButton {
      width: fit-content;
      padding-block: 4px;
      @include mixins.flex($items: center, $gap: 10px);
      font-size: 24px;

      .tgIcon {
        @include mixins.size(24px);
      }
    }
  }

  .followUsImage {
    height: 256px;
    width: auto;
  }
}