@use '@/styles/mixins';
@use '@/styles/variables';

.productTripContainer {
  width: 100%;
  padding-inline: 40px;
  @include mixins.flex($items: center, $gap: 20px);
  color: variables.$grey-color;

  @media (max-width: 1145px) {
    flex-wrap: wrap;
  }

  @media (max-width: 705px) {
    flex-direction: column;
  }

  @media (max-width: 540px) {
    padding-inline: 10px;
  }

  .contentContainer {
    @include mixins.flex($direction: column, $self: stretch, $gap: 20px);

    &:nth-of-type(1),
    &:nth-of-type(3),
    &:nth-of-type(5) {
      width: calc((100% - 176px - 255px) / 2);
      margin: 0 auto;
    }

    @media (max-width: 1145px) {
      flex: 0 0 auto;

      &:nth-of-type(1),
      &:nth-of-type(3) {
        flex: 0 0 calc((100% - 49px - 40px) / 2);
        width: calc((100% - 49px - 40px) / 2);
      }

      &:nth-of-type(5) {
        width: 100%;
      }
    }

    @media (max-width: 705px) {
      flex: 1;

      &:nth-of-type(1),
      &:nth-of-type(3),
      &:nth-of-type(5) {
        width: 100%;
      }
    }

    .title {
      color: variables.$dark-grey;
      font-size: 44px;
      font-weight: 700;
    }

    .directionContainer {
      @include mixins.flex($direction: column, $gap: 20px);

      .direction {
        height: 120px;
        padding: 12px;
        border-radius: 12px;
        background: variables.$dark-grey;
        @include mixins.flex($items: center);
        color: variables.$white-bg;
        position: relative;
        overflow: hidden;

        & > p {
          position: relative;
          z-index: 1;
          white-space: pre-line;
          text-align: left;
        }

        .flag {
          width: 100%;
          position: absolute;
          top: 0;
          right: 0;
          filter: brightness(0.4);
        }
      }
    }

    .logoContainer {
      width: 255px;
      margin: 0 auto;
      flex: 1;
      @include mixins.flex($items: center);
      position: relative;

      @media (max-width: 705px) {
        width: 100%;
        padding-top: 67%;
      }

      .checkman {
        width: 64%;
        height: auto;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }

      .logo {
        width: 100%;
        height: auto;
        padding: 10px;
        background:  variables.$blue;
        border-radius: 12px;
      }
    }

    .typesOfGoodsContainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px 16px;

      @media (max-width: 540px) {
        gap: 6px;
      }

      .typeOfGood {
        height: 64px;
        padding-inline: 12px;
        border-radius: 12px;
        background: variables.$dark-grey;
        white-space: pre-line;
        color: variables.$white-bg;
        @include mixins.flex($content: center, $items: center);
      }
    }
  }

  .arrowContainer {
    align-self: stretch;
    padding-top: 86px;
    @include mixins.flex($items: center);

    @media (max-width: 1145px) {
      &:nth-of-type(4) {
        height: 49px;
        width: 100%;
        padding-top: 0;
        justify-content: center;

        & > svg {
          transform: rotate(90deg);
        }
      }
    }

    @media (max-width: 705px) {
      &:nth-of-type(2),
      &:nth-of-type(4) {
        height: 49px;
        width: 100%;
        padding-top: 0;
        justify-content: center;

        & > svg {
          transform: rotate(90deg);
        }
      }
    }
  }
}